@import './shadows.less';

@btn: {
	border: none;
	cursor: pointer;
};

@largeBtn: {
	@btn();
	padding: 1rem;
	margin: 1rem;
	font-size: 2.4rem;
	box-shadow: @box-shadow-01;
	border-radius: 0.5rem;

	&:hover {
		box-shadow: @box-shadow-02;
	}

	&:disabled,
	&[disabled] {
		box-shadow: none;
		cursor: default;
	}
};

@medBtn: {
	@btn();
	padding: 1rem;
	margin: 1rem;
	font-size: 1.8rem;
	box-shadow: @box-shadow-01;
	border-radius: 0.5rem;

	&:hover {
		box-shadow: @box-shadow-02;
	}

	&:disabled,
	&[disabled] {
		box-shadow: none;
		cursor: default;
	}
};

@smBtn: {
	@btn();
	padding: 1rem;
	margin: 0.5rem;
	font-size: 1.4rem;
	box-shadow: @box-shadow-01;
	border-radius: 0.5rem;

	&:hover {
		box-shadow: @box-shadow-02;
	}

	&:disabled,
	&[disabled] {
		box-shadow: none;
		cursor: default;
	}
};
