// Colours

@green: #8bc34a;
@greenHover: #9ccc65;
@greenActive: #7cb342;

@lightPurple: #685167;

@error: #ae1409;
@errorDark: #ffacac;

@modalBg: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

@dark: {
	background-color: #2d132c;
	color: #eeeeee;
};

@disabledBtn: #e0e0e0;
