@import '../style/styles';
@import '../style/button';

.Home {
	display: flex;
	flex-direction: column;
	//justify-content: center;
	//align-items: center;
	height: 100%;
}

.Home--dark {
	@dark();
}

.Home__header {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
	font-size: 3.6rem;
}

.Home__gameModeLabel {
	padding-bottom: 0;
}

.Home__game {
	display: flex;
	margin-bottom: 1.2rem;
}

.Home__input {
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
	font-size: 2.6rem;
	margin-right: 1.2rem;
	text-align: center;
	box-shadow: @box-shadow-01;
	border: 1px solid black;
}

.Home__input--error {
	border: 2px solid @error;
}

.Home__btns {
	display: flex;
	justify-content: center;
}

.Home__btn {
	@medBtn();
	width: 15rem;
	background-color: @green;
	border-radius: 0.3rem;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
	font-size: 2.6rem;
	box-shadow: @box-shadow-01;

	&:hover {
		background-color: @greenHover;
	}

	&:active {
		background-color: @greenActive;
	}
}

.Home__btn--error {
	background-color: @disabledBtn;
	cursor: not-allowed;

	&:hover {
		background-color: @disabledBtn;
	}

	&:active {
		background-color: @disabledBtn;
	}
}

.Home__error {
	position: relative;
	text-align: center;
}

.Home__footer--dark a {
	color: white;
}

.Home--centre {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.Home__rules,
.Home__example--p {
	text-align: center;
}

.Home__rules {
	width: 60%;
}

.Home__example--p {
	margin-top: 0;
}

.Home__example--emphasis {
	color: red;
}

.Home__example--emphasis--dark {
	color: #ff8a8a;
}

.Home__footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}

.Home__acksBtn--dark {
	color: white;
}

.Home__acksBtn {
	border: none;
	background-color: initial;
	font-size: 1.6rem;
	cursor: pointer;
	text-decoration: underline;
	margin-bottom: 0.5rem;
}

.Home__modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	box-shadow: @box-shadow-24;
}

.Home__modalContent {
	position: relative;
	width: 30rem;
	padding: 4rem;
	background-color: white;
}

.Home__closeAcksBtn {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.6rem;
	background-color: lightgrey;
	padding: 0.5rem 1rem;
	border: none;
}

.Home__modalHeader {
	text-align: center;
}

.Home__modalDesc {
	text-align: center;
}

@media only screen and (max-height: 615px) {
	.Home__footer {
		position: initial;
	}
}

@media only screen and (max-width: 830px) {
	.Home__rules {
		width: 80%;
	}
}

@media only screen and (max-width: 450px) {
	.Home {
		height: auto;
	}

	.Home p {
		font-size: 125%;
	}

	.Home__game {
		flex-direction: column;
	}

	.Home__btns {
		flex-direction: column;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.Home__btn {
		font-size: 3rem;
		width: 100%;
		margin: 1rem 0;
	}

	.Home__input {
		margin-right: 0;
		margin-bottom: 1rem;
	}

	.Home__rules {
		width: initial;
	}

	.Home__footer {
		position: initial;
	}

	.Home__modalContent {
		padding: 3rem;
		margin: 4rem;
		font-size: 125%;
	}
}

@media only screen and (max-width: 375px) {
	.Home__header {
		margin-top: 0;
	}
}
