.NotFound {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.NotFound__link {
	display: flex;
}

.NotFound__linkWords::after {
	content: '\00a0';
}
