@import '../style/styles';
@import '../style/button';

.Solo--dark {
	@dark();
}

.Solo__words {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 3rem;
}

.Solo__btns {
	display: flex;
	justify-content: center;
}

.Solo__btn {
	@smBtn();
	background-color: @black;
	color: white;

	&:hover {
		background-color: @blackHover;
	}

	&:active {
		background-color: @blackActive;
	}
}

.Solo__editor {
	animation: slideDown 1s;
	margin-top: 1rem;
	width: 100%;
	display: flex;
	justify-content: center;
}

@keyframes slideDown {
	from {
		transform: translateY(-1em);
		opacity: 0;
		visibility: hidden;
	}
	to {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
}

.Solo__editor--hidden {
	display: none;
}

.Solo__editorContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid black;
	padding: 1rem;
}

.Solo__editorBtns {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.Solo__editorBtn {
	@smBtn();
	background-color: @green;

	&:hover {
		background-color: @greenHover;
	}

	&:active {
		background-color: @greenActive;
	}
}

@media only screen and (max-width: 375px) {
	.Solo__btn,
	.Solo__editor,
	.Solo__editorBtn {
		font-size: 125%;
	}

	.Solo__editor,
	.Solo__editor--hiding {
		width: initial;
		margin-left: 2rem;
		margin-right: 2rem;
	}

	.Solo__editorContent {
		padding: 2rem;
	}

	.Solo__editorForms {
		display: flex;
		flex-direction: column;
	}

	.Solo__editorForm {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.Solo__editorLabel,
	.Solo__EditorInput {
		font-size: 1.8rem;
	}

	.Solo__EditorInput {
		width: 15rem;
	}

	.Solo__editor--center {
		text-align: center;
	}
}
